/* Header Styles */
header {
max-width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Headers.module.css or a separate CSS file */
.hero-image-container {
  position: relative;
  text-align: center; /* Center-align the child elements */
}

.hero-image {
  width: 100%;
  height: auto;
}

.hero-text {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center both vertically and horizontally */
  background-color: rgba(0, 0, 0, 0.7); /* Add a background color for better readability */
  padding: 20px;
  border-radius: 10px;
 color:black
}

.center-content {
  text-align: center; /* Center-align the text inside .center-content */
}


.nav_container {
  display: flex;
  align-items: center;
}

.nav_links_div {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

/* Navigation List Styles */
ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

li {
  font-size: 1rem;
  margin: 0 5px;
}

a {
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* Navigation Link Hover Effect */
li a:hover {
  color: red;
}

/* Logo Styles */
.logo {
  width: 20%;
}

/* Shopping Cart Styles */
.cart_container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-image {
  width: 100px;
}
.alignLeft {
  margin-left: auto;
}
