/* App.css */

/* Style the container for adding a new product */
.container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Style the form inputs */
label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style the "Add Product" button */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Style the product list */
ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;

}
/* Add this CSS rule to limit the maximum width of images */
img {
  max-width: 100%;
  max-height: 200px; /* Set the maximum height you want */
  height: auto;
}
